/* reset */
html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

:root {
  /* colors */
  --main-bg-color: hsl(233, 47%, 7%);
  --card-bg-color: hsl(244, 38%, 16%);
  --soft-violet-color: hsl(277, 64%, 61%);
  --white: #fff;
  --main-paragraph-color: hsla(0, 0%, 100%, 0.75);
  --stat-heading-color: hsla(0, 0%, 100%, 0.6);
  /* fonts */
  --inter-font: "inter regular";
  --lexend-deca-font: "lexend deca";
}

body {
  font-size: 1.5rem;
  background-color: var(--main-bg-color);
  font-family: var(--inter-font);
  min-height: 100vh;
}

/* start coding  */

.container {
  max-width: 100%;
  padding: 0 18px;
  margin-left: auto;
  margin-right: auto;
}

@media all and (min-width: 481px) {
  .container {
    max-width: 450px;
  }
}
@media all and (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media all and (min-width: 1025px) {
  .container {
    max-width: 1000px;
  }
}
@media all and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.main {
  margin: 5rem 0;
}

.card {
  text-align: center;
  min-height: 500px;
}

.card-img {
  position: relative;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.card-img__mobile {
  width: 100%;
  display: block;
  object-fit: cover;
}

.card-img__desctop {
  display: none;
}

.card-img--cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(45%);
  background-color: hsl(278, 78%, 56%);
  opacity: 0.7;
}

.card-element {
  background-color: var(--card-bg-color);
  color: var(--white);
  border-radius: 0 0 10px 10px;
  padding: 4rem 2rem 2rem 2rem;
}

.card-element__title {
  max-width: 297px;
  margin: 0 auto;
}

.card-element__title--costom {
  color: var(--soft-violet-color);
}

.card-element__discription {
  line-height: 1.5;
  margin: 1.5rem auto 3rem auto;
  max-width: 268px;
}

.card-stats {
  font-family: var(--inter-font);
  text-transform: uppercase;
}

.card-stats-wrapper {
  margin: 1.5rem 0 2rem 0;
}

.card-stats-wrapper__title {
  font-size: 2.1rem;
  padding: 0.5rem;
}

.card-stats-wrapper__pargraph,
.card-element__discription {
  color: var(--main-paragraph-color);
}

/* Responsive */
@media all and (min-width: 768px) {
  .card-element__title {
    max-width: none;
  }

  .card-element__discription {
    max-width: none;
  }
}
@media all and (min-width: 1025px) {
  main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin: 0 !important;
  }

  .card {
    display: flex;
    text-align: left;
    min-height: 300px;
  }

  .card-img,
  .card-element {
    width: 50%;
    border-radius: 0;
  }

  .card-img {
    order: 2;
    border-radius: 0 10px 10px 0;
  }

  .card-element {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px 0 0 10px;
    padding: 5rem;
  }

  .card-img__mobile {
    display: none;
  }

  .card-img__desctop {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-element__title {
    max-width: 342px;
    margin-left: 0;
  }

  .card-element__discription {
    max-width: 362px;
    margin-left: 0;
  }

  .card-stats {
    max-width: 90%;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
